.bg-purple {
  color: white!important;
  background: linear-gradient(135deg, #93B5C6, rgb(201, 204, 213))!important;
}

.bg-pink {
  border-color: #FFE3E3!important;
  background: linear-gradient(227deg, rgb(228, 216, 220) 0%, rgb(255, 227, 227) 100%)!important;
  color: white!important;
}

h1{
  margin-top: 1px;
  padding: 20px;
}


h5{
  margin: 30px;
  margin-top: -20px;
padding: -80px;
}

.col{
  text-align: center;
}

.col .text-muted{
  text-align: start;
}

.col .card-title{
  margin-top: -5px;
}

.d-flex{
  margin-top: 10px;
}

.card-footer{
text-align:start;
}

.fa-chevron-right {
  margin-left: 9rem;
}

.barend{
  margin-top: 1rem;
  height: 3rem;
  background-color: rgb(233, 233, 233);
}

.barend p{
  padding:7px;
  color: rgb(183, 185, 185);
}




.card{
  padding: 1rem;
}


.card .btn{

  margin-top: 1rem;
}

.offcanvas-body{
  background: linear-gradient(135deg, #93B5C6, rgb(201, 204, 213))!important;
}

