.bg-purple {
  color: white!important;
  background: linear-gradient(135deg, #000000,#000000)!important;
}

.bg-pink {
  border-color: #ffffff!important;
  background: linear-gradient(227deg, rgb(87, 5, 48) 0%, rgb(152, 15, 90) 100%)!important;
  color: rgb(255, 255, 255)!important;
}

h1{
  margin-top: 1px;
  padding: 20px;
}


h5{
  margin: 30px;
  margin-top: -20px;
padding: -80px;

}

.col{
  text-align: center;

}

.col .text-muted{
  text-align: start;
}

.col .card-title{
  margin-top: -5px;
}

.d-flex{
  margin-top: 10px;
}

.card-footer{
text-align:start;
}

.fa-chevron-right {
  margin-left: 9rem;
  
}

.barend{
  margin-top: 1rem;
  height: 3rem;
  background-color: #000000;
}

.barend p{
  padding:7px;
  color: rgb(183, 185, 185);
}




.card{
  padding: 1rem;
}


.card .btn{
  margin-top: 1rem;
}

.navbar-toggler{
background: #ffffff;
}

.offcanvas-body{
  background: linear-gradient(135deg, #000000, #000000)!important;

}

